<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="../index.html" class="logo-link link">Mobileapp</a>
      <ul class="nav-menu list">
        <li class="nav-menu-item"><a href="" class="nav-link link">Home</a></li>
        <li class="nav-menu-item">
          <a href="" class="nav-link link">Features</a>
        </li>
        <li class="nav-menu-item"><a href="" class="nav-link link">Team</a></li>
        <li class="nav-menu-item">
          <a href="" class="nav-link link">Testimonials</a>
        </li>
        <li class="nav-menu-item">
          <a href="" class="nav-link link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
