<section class="hero-section">
  <div class="hero-wrapper">
    <div class="container">
      <div class="hero-text-container">
        <h1 class="hero-headline">Introducing Mobileapp</h1>

        <p class="sub-title">Download our mobile app today!</p>

        <ul class="list menu">
          <li class="menu-sub">
            <p class="sub-text">
              <span class="vector">&#10095;</span> Real-time updates and
              notifications for timely information
            </p>
          </li>
          <li class="menu-sub">
            <p class="sub-text">
              <span class="vector">&#10095;</span>Robust analytics and reporting
              for data-driven insights
            </p>
          </li>
          <li class="menu-sub">
            <p class="sub-text">
              <span class="vector">&#10095;</span>Offline capabilities for
              uninterrupted use
            </p>
          </li>
        </ul>

        <button class="button-download" type="button">Download</button>
      </div>
    </div>
    <ul class="list icon-list">
      <li class="imgs phone">
        <img src="../img/iphonex.png" alt="iphonex" width="459" height="489" />
      </li>

      <li class="camera-png">
        <img
          class="icon-camera"
          src="../img/camera.png"
          alt="camera"
          width="77"
          height="76"
        />
      </li>

      <li class="item-icon">
        <img src="../img/icons.png" ё alt="wtf" width="95" height="100" />
      </li>

      <li class="clock-png">
        <img src="../img/clock.png" alt="clock-png" width="150" height="150" />
      </li>

      <li class="camera-icon">
        <img src="../img/cameratwo.png" alt="camera" width="130" height="130" />
      </li>

      <li class="calendar">
        <img src="../img/calendar.png" alt="" width="120" height="140" />
      </li>

      <li class="bell-icon">
        <img
          src="../img/bell-icon.png"
          alt="the-bell"
          width="130"
          height="130"
        />
      </li>

      <li class="last-icon">
        <img
          src="../img/last-icon.png"
          alt="last-icon"
          width="80"
          height="80"
        />
      </li>

      <li class="back-phone">
        <img
          src="../img/ellipse-one.png"
          alt="elipse"
          width="286"
          height="364"
        />
      </li>

      <li class="ellipse-secondary">
        <img
          src="../img/ellipse-secondary.png"
          alt="elipse"
          width="216"
          height="359"
        />
      </li>
    </ul>
  </div>
</section>
