<section class="hero-BG">
  <div class="container">
    <h1 class="hero-headline">Introducing Mobileapp</h1>

    <p class="sub-title">Download our mobile app today!</p>

    <ul class="list menu">
      <li class="menu-sub">
        <p class="sub-text">
          <span class="vector">&#10095;</span> Real-time updates and
          notifications for timely information
        </p>
      </li>
      <li class="menu-sub">
        <p class="sub-text">
          <span class="vector">&#10095;</span>Robust analytics and reporting for
          data-driven insights
        </p>
      </li>
      <li class="menu-sub">
        <p class="sub-text">
          <span class="vector">&#10095;</span>Offline capabilities for
          uninterrupted use
        </p>
      </li>
    </ul>

    <button class="button-download" type="button">Download</button>

    <div>
      <ul class="list">
        <li class="imgs phone">
          <img src="../img/iphonex.png" alt="iphonex" />
        </li>

        <li class="camera-png">
          <img
            class="icon-camera"
            src="../img/hero-img/camera.png"
            alt="camera"
            width="77"
            height="76"
          />
        </li>

        <li class="item-icon">
          <img
            src="../img/hero-img/icons.png"
            alt="wtf"
            width="95"
            height="100"
          />
        </li>

        <li></li>

        <li></li>

        <li></li>

        <li></li>
      </ul>
    </div>
  </div>
</section>
