<section>
  <div class="container">
    <ul class="list ada">
      <li class="ada">
        <h1>Introducing Mobileapp</h1>
      </li>
      <li>
        <p>Download our mobile app today!</p>
      </li>
      <li>
        <p class="ada">
          Real-time updates and notifications for timely information
        </p>
      </li>
      <li>
        <p>Robust analytics and reporting for data-driven insights</p>
      </li>
      <li>
        <p>Offline capabilities for uninterrupted use</p>
      </li>
      <li>
        <button class="button-download" type="button">Download</button>
      </li>
    </ul>
  </div>
</section>
