.hero-BG {
  background-color: var(--background-dark);
  height: 684px;
  max-width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
}
.wrapper-hero {
}
/*hero title*/
.hero-headline {
  color: var(--all-white-text);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;

  margin-bottom: 12px;
  margin-top: 0;

  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/*sub-title*/

.sub-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;

  color: var(--all-white-text);
  margin-bottom: 28px;

  -webkit-animation: tracking-in-contract 1s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-contract 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation-delay: 0.7s;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

/*rest-text*/

.menu-sub {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: var(--all-white-text);
  margin-bottom: 14px;
  color: var(--all-white-text);

  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation-delay: 1.5s;
}

.menu-sub:last-child {
  margin-bottom: 62px;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/*vector*/

.vector {
  margin-right: 8px;
  width: 8px;
  height: 12px;
}

/*Button*/

.button-download {
  background: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  color: #ffffff;

  border-radius: 5px;
  width: 200px;
  height: 42px;

  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  padding: 12px 60px 12px 60px;

  border: none;

  transform: scale(1);

  transition: transform 0.5s ease-in-out;
}

.button-download:hover,
.button-download:focus {
  background: var(--background-dark);

  border: 1px solid transparent;

  border-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  border-image-slice: 1;
  transform: scale(1.1);
}

/*image*/

.phone {
  position: absolute;

  left: 820px;
  top: 250px;
  z-index: 1;
}

.camera-png {
  position: absolute;

  left: 803px;
  top: 261px;
}

.item-icon {
  position: absolute;
  left: 685px;
  top: 227px;
}

.clock-png {
  position: absolute;
  left: 644px;
  top: 295px;
}

.camera-icon {
  position: absolute;
  left: 517px;
  top: 287px;
}

.calendar {
  position: absolute;
  left: 472px;
  top: 389px;
}

.bell-icon {
  position: absolute;
  left: 339px;
  top: 432px;
}

.last-icon {
  position: absolute;

  left: 373px;
  top: 565px;
}

.back-phone {
  position: absolute;

  top: 282px;
  left: 883.66px;
  background: rgba(125, 85, 255, 0.5);
  filter: blur(51.5px);
  transform: rotate(19.52deg);
}

.ellipse-secondary {
  position: absolute;
  left: 1050px;
  top: 200.45px;
  background: rgba(0, 197, 235, 0.5);
  filter: blur(51.5px);
  transform: matrix(0.89, 0.45, 0.45, -0.89, 0, 0);
}
